.idea
.venv
__pycache__
.env
.lightning_studio
.vscode
kaggle.json
.kaggle
pwd
.bash_history
.viminfo
data
models/detr/lightning_logs
models/detr/wandb
simulation/server/models/detr/
simulation/client/dropex-2024-firebase-adminsdk.json
simulation/server/dropex-2024-firebase-adminsdk.json
simulation/server/app.log